.popup__container {
    background-color: #FFFFFF;
    border-radius: 10px;
    position: relative;
    margin: 0 20px 0;
    top: calc(50% - (330px / 2));
    min-width: 282px;
    max-height: 322px;
    z-index: 1;

}

@media (min-width: 768px) {
    .popup__container {
        max-width: 430px;
        margin: 0 auto;
        max-height: 330px;
    }
}