.profile {
    max-width: calc(100% - 400px);
    margin: 0 auto 0;
    color: white;
    display: flex;
    align-items: center;
    padding: 35px 0 45px;
    border-top: 1px solid #545454;
}

@media (max-width: 425px) {
    .profile {
        flex-direction: column;
        max-width: calc(100% - 40px);

    }
}